## List
- Grouping
- Keep the order

In [7]:
countries = ["South Korea", "USA", "Japan", "China"]

# 요소 변경
countries[2] = "Vietnam"
print(countries)

print(f"countries[len(countries)-1]: {countries[len(countries)-1]}")
print(f"countries[-2]: {countries[-2]}")

# pop - 원본 배열 변경
print(countries.pop())
print(countries)

print(countries.pop(0))
print(countries)

['South Korea', 'USA', 'Vietnam', 'China']
countries[len(countries)-1]: China
countries[-2]: Vietnam
China
['South Korea', 'USA', 'Vietnam']
South Korea
['USA', 'Vietnam']

In [4]:
element = "c" 
alphabets = ["b", element, "d"]
print(alphabets)

alphabets.append("e")
print(alphabets)

alphabets += ["f", "g"]
print(alphabets)

alphabets.insert(0, "a")
print(alphabets)

['b', 'c', 'd']
['b', 'c', 'd', 'e']
['b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [11]:
# Nested List
alphabets = [["a", "b"],["c"]]
print(alphabets)

for i in range(len(alphabets)):
    for j in range(len(alphabets[i])):
        print(f"alphabets[{i}][{j}]: {alphabets[i][j]}")

[['a', 'b'], ['c']]
alphabets[0][0]: a
alphabets[0][1]: b
alphabets[1][0]: c

## Dictionary

In [2]:
dic = {
    "country": "south korea",
    "city": "seoul",
    "gender": "female",
    "age": 28
}
print(dic["country"])

south korea

In [7]:
print("name" not in dic)
print("age" in dic)

True
True

In [3]:
for key, value in dic.items():
    print(f"{key}: {value}")

country: south korea
city: seoul
gender: female
age: 28

In [4]:
for key in dic:
    print(f"{key}: {dic[key]}")

country: south korea
city: seoul
gender: female
age: 28

In [8]:
dic1 = {
    1: 1,
    2: 3,
}
print(dic1[2])
print(2 in dic1)

3
True

## Mini Proj: Grading Program

In [10]:
students = {
    "tom": 82,
    "jerry": 93,
    "joon": 99,
    "misha": 80,
    "amy": 74
}

def get_grade(score: int):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    else:
        return "F" 
    
res = {}
for student, score in students.items():
    res[student] = get_grade(score)

print(res)

{'tom': 'B', 'jerry': 'A', 'joon': 'A', 'misha': 'B', 'amy': 'C'}

## Nested Data Structure

In [11]:
usa = {
    "name": "USA",
    "continent": "North America"
}

south_korea = {
    "name": "South Korea",
    "continent": "East Asia"
}

countries = [
    usa,
    south_korea
]

print(countries)

[{'name': 'USA', 'continent': 'North America'}, {'name': 'South Korea', 'continent': 'East Asia'}]

In [12]:
for country in countries:
    print(country)
    print(country["name"])

{'name': 'USA', 'continent': 'North America'}
USA
{'name': 'South Korea', 'continent': 'East Asia'}
South Korea

In [13]:
california = ["los angeles", "san francisco"]
us_states = [california, "washington", "oregon"]
print(us_states)

[['los angeles', 'san francisco'], 'washington', 'oregon']

In [14]:
countries = [
    us_states,
    south_korea
]
print(countries)

[[['los angeles', 'san francisco'], 'washington', 'oregon'], {'name': 'South Korea', 'continent': 'East Asia'}]