## List
- Grouping
- Keep the order
- mutable

In [7]:
countries = ["South Korea", "USA", "Japan", "China"]

# ìš”ì†Œ ë³€ê²½
countries[2] = "Vietnam"
print(countries)

print(f"countries[len(countries)-1]: {countries[len(countries)-1]}")
print(f"countries[-2]: {countries[-2]}")

# pop - ì›ë³¸ ë°°ì—´ ë³€ê²½
print(countries.pop())
print(countries)

print(countries.pop(0))
print(countries)

['South Korea', 'USA', 'Vietnam', 'China']
countries[len(countries)-1]: China
countries[-2]: Vietnam
China
['South Korea', 'USA', 'Vietnam']
South Korea
['USA', 'Vietnam']

In [4]:
element = "c" 
alphabets = ["b", element, "d"]
print(alphabets)

alphabets.append("e")
print(alphabets)

alphabets += ["f", "g"]
print(alphabets)

alphabets.insert(0, "a")
print(alphabets)

['b', 'c', 'd']
['b', 'c', 'd', 'e']
['b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [11]:
# Nested List
alphabets = [["a", "b"],["c"]]
print(alphabets)

for i in range(len(alphabets)):
    for j in range(len(alphabets[i])):
        print(f"alphabets[{i}][{j}]: {alphabets[i][j]}")

[['a', 'b'], ['c']]
alphabets[0][0]: a
alphabets[0][1]: b
alphabets[1][0]: c

## Dictionary
- mutable
- ordered

In [2]:
dic = {
    "country": "south korea",
    "city": "seoul",
    "gender": "female",
    "age": 28
}
print(dic["country"])

south korea

In [7]:
print("name" not in dic)
print("age" in dic)

True
True

In [3]:
for key, value in dic.items():
    print(f"{key}: {value}")

country: south korea
city: seoul
gender: female
age: 28

In [4]:
for key in dic:
    print(f"{key}: {dic[key]}")

country: south korea
city: seoul
gender: female
age: 28

In [8]:
dic1 = {
    1: 1,
    2: 3,
}
print(dic1[2])
print(2 in dic1)

3
True

## Mini Proj: Grading Program

In [10]:
students = {
    "tom": 82,
    "jerry": 93,
    "joon": 99,
    "misha": 80,
    "amy": 74
}

def get_grade(score: int):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    else:
        return "F" 
    
res = {}
for student, score in students.items():
    res[student] = get_grade(score)

print(res)

{'tom': 'B', 'jerry': 'A', 'joon': 'A', 'misha': 'B', 'amy': 'C'}

## Nested Data Structure

In [11]:
usa = {
    "name": "USA",
    "continent": "North America"
}

south_korea = {
    "name": "South Korea",
    "continent": "East Asia"
}

countries = [
    usa,
    south_korea
]

print(countries)

[{'name': 'USA', 'continent': 'North America'}, {'name': 'South Korea', 'continent': 'East Asia'}]

In [12]:
for country in countries:
    print(country)
    print(country["name"])

{'name': 'USA', 'continent': 'North America'}
USA
{'name': 'South Korea', 'continent': 'East Asia'}
South Korea

In [13]:
california = ["los angeles", "san francisco"]
us_states = [california, "washington", "oregon"]
print(us_states)

[['los angeles', 'san francisco'], 'washington', 'oregon']

In [14]:
countries = [
    us_states,
    south_korea
]
print(countries)

[[['los angeles', 'san francisco'], 'washington', 'oregon'], {'name': 'South Korea', 'continent': 'East Asia'}]

## Set
- immutable
- unordered ðŸ‘‰ cannot subscript (ì¸ë±ìŠ¤ ì ‘ê·¼ ë¶ˆê°€)
- it is unchangable, but can add or remove
- unique values

In [1]:
my_set1 = set((1, 2, 3))
print(my_set1)

{1, 2, 3}

In [6]:
my_set2 = {1, 2, 3}
print(my_set2)
my_set2.add(1)
print(my_set2)

{1, 2, 3}
{1, 2, 3}

In [8]:
l = [1, 2, 3, 4, 1, 2, 3, 4]
print(f"list: {l}")
print(f"set: {set(l)}")
print(f"list with unique values: {list(set(l))}")

list: [1, 2, 3, 4, 1, 2, 3, 4]
set: {1, 2, 3, 4}
list with unique values: [1, 2, 3, 4]

In [4]:
my_set2.add(4)
print(my_set2)
my_set2.remove(4)
print(my_set2)

{1, 2, 3, 4}
{1, 2, 3}

In [13]:
# access ë¶ˆê°€
my_set2[1]

TypeError: 'set' object is not subscriptable

## Tuples
- immutable
- Creation is faster than list

In [12]:
my_tuples = (1, 2, 3)
print(my_tuples[1])
# my_tuples.append(4) ðŸ‘ˆ Error!

2

In [10]:
tup1 = (1, 1, 2, 3 ,4)
print(tup1)

(1, 1, 2, 3, 4)

## Collections module

### Counter

In [3]:
from collections import Counter

lst = [1,2,3,2,2,2,3,3,3,1,1,1,1,2,2,2,3]
c = Counter(lst)
print(c)

print(dict(c))
print(list(c))

Counter({2: 7, 1: 5, 3: 5})
{1: 5, 2: 7, 3: 5}
[1, 2, 3]

In [4]:
c = Counter("hello")
print(c)

Counter({'l': 2, 'h': 1, 'e': 1, 'o': 1})

In [8]:
sentences = "hello world what a wonderful world"
c = Counter(sentences.split(" "))
print(c)

# most common
print(c.most_common)

Counter({'world': 2, 'hello': 1, 'what': 1, 'a': 1, 'wonderful': 1})
<bound method Counter.most_common of Counter({'world': 2, 'hello': 1, 'what': 1, 'a': 1, 'wonderful': 1})>

### defaultdict

In [ ]:
# defaultdict never raises a KeyError
from collections import defaultdict

d = defaultdict(lambda: 0) # default ê°’
d["here"] = 10

print(d)

d["there"]
print(d["there"])

defaultdict(<function <lambda> at 0x0000020F184A6DA0>, {'here': 10})
0

### namedtuple

In [12]:
from collections import namedtuple

Dog = namedtuple("Dog", ["age", "breed", "name"])

sammy = Dog(age=5, breed="Husky", name="Sammy")
print(sammy)
print(sammy.age)
print(sammy[0])

Dog(age=5, breed='Husky', name='Sammy')
5
5