## File Management

In [1]:
file = open("sample.md", "r", encoding="utf-8")
print(file.read())
file.close() # GC; Garbage Collector

python study üêçüêç

In [2]:
# no close anymore
with open("sample.md", "r", encoding="utf-8") as file:
    print(file.read())

python study üêçüêç

In [ ]:
# "w": overwrite / "a": append
with open("WRITEME.txt", "w") as file:
    print(file.write("Thanks"))

6

## CSV

In [11]:
file = open("sample.csv", "r")
print(file.read())
file.close()

country,capital,continent
USA,WashingtonDC,North America
South Korea,Seoul,East Asia
Japan,Tokyo,East Asia
China,Beijing,East Asia
United Kingdom,London,Europe
France,Paris,Europe

In [14]:
import csv

with open("sample.csv", "r") as data_file:
    sample_data = csv.reader(data_file)
    for row in sample_data:
        if row[0] != "country":
            print(row[0])

USA
South Korea
Japan
China
United Kingdom
France

In [16]:
import pandas as pd

data = pd.read_csv("sample.csv")

print(data)
print(data["country"])

          country       capital      continent
0             USA  WashingtonDC  North America
1     South Korea         Seoul      East Asia
2           Japan         Tokyo      East Asia
3           China       Beijing      East Asia
4  United Kingdom        London         Europe
5          France         Paris         Europe
0               USA
1       South Korea
2             Japan
3             China
4    United Kingdom
5            France
Name: country, dtype: object

## Pandas

In [20]:
import pandas as pd

data = pd.read_csv("sample.csv")

print(data)

          country       capital      continent  population
0             USA  WashingtonDC  North America   329500000
1     South Korea         Seoul      East Asia    51780000
2           Japan         Tokyo      East Asia   125800000
3           China       Beijing      East Asia  1402000000
4  United Kingdom        London         Europe    67220000
5          France         Paris         Europe    67390000

In [ ]:
# DataFrame: General 2D labeled, size-mutable tabular structure with potentially heterogeneously-typed column
print(type(data))
print(data.to_dict())

<class 'pandas.core.frame.DataFrame'>
{'country': {0: 'USA', 1: 'South Korea', 2: 'Japan', 3: 'China', 4: 'United Kingdom', 5: 'France'}, 'capital': {0: 'WashingtonDC', 1: 'Seoul', 2: 'Tokyo', 3: 'Beijing', 4: 'London', 5: 'Paris'}, 'continent': {0: 'North America', 1: 'East Asia', 2: 'East Asia', 3: 'East Asia', 4: 'Europe', 5: 'Europe'}, 'population': {0: 329500000, 1: 51780000, 2: 125800000, 3: 1402000000, 4: 67220000, 5: 67390000}}

In [22]:
# Series: 1D labeld homogeneously-typed array
print(type(data["country"]))
print(data["country"].to_list())

<class 'pandas.core.series.Series'>
['USA', 'South Korea', 'Japan', 'China', 'United Kingdom', 'France']

In [26]:
# different way to access to the column
print(data.population)

0     329500000
1      51780000
2     125800000
3    1402000000
4      67220000
5      67390000
Name: population, dtype: int64

In [25]:
print(f"sum of population: {sum(data["population"].to_list())}")
print(f"max of population: {data["population"].max()}")

sum of population: 2043690000
max of population: 1402000000

In [27]:
# row data
print(data[data.country == "USA"])
print(data[data.population == data.population.max()])

  country       capital      continent  population
0     USA  WashingtonDC  North America   329500000
  country  capital  continent  population
3   China  Beijing  East Asia  1402000000

In [28]:
# from scratch
grade = {
    "students": ["A", "B", "C"],
    "scores": [90, 80, 85]
}

data = pd.DataFrame(grade)
print(data)
data.to_csv("grade.csv")

  students  scores
0        A      90
1        B      80
2        C      85